djangorestframework
django-cors-headers
asgiref
django
djangorestframework-simplejwt
Pyjwt
psycopg2-binary
python-dotenv
argparse
langchain>=0.0.231
lxml
pymongo
requests
bs4
openai
tiktoken
pypdf
bcrypt